{
	"useTabs": false,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketLine": true,
	"printWidth": 120,
	"singleQuote": false,
	"semi": true,
	"tabWidth": 4,
	"plugins": [
		"prettier-plugin-svelte"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
